SIP_SERVER=
SIP_USER=
AUTH_USER=
AUTH_PASSWORD=
AUTH_REALM=
DISPLAY_NAME=

# AWS Configuration
AWS_REGION=us-east-1
AWS_PROFILE=bedrock-test

# Polly Configuration
POLLY_VOICE_ID=Joanna
POLLY_ENGINE=neural
POLLY_LANGUAGE_CODE=en-US
POLLY_SAMPLE_RATE=24000